
  <div class="ae-grid au-xs-ta-center au-mb-3">
    <div class="ae-grid__item--alt item-lg-3">
      <table>
        <tr><td>
      <img src="assets/img/presentacion2.jpg"  width="600" height="600"   alt="">
      <br>
       <hr width=100%  align="right"  size=5   noshade="noshade">
             <img src="assets/img/Datos.jpg" width="500" height="500"   alt="">

      </td>
      </tr>
    </table>/
  </div>


    <div class=" item-lg-7">

              <h2>Educacion</h2>

              <p >Universidad Tecnológica Del Sur Del Estado De México, Ex-hacienda Tejupilco.</p>
              <p>Ingeniería en tecnologías de información y comunicación</p>
              <p>17  junio 2016</p>
              <p>Universidad Tecnológica Del Sur Del Estado De México, Ex-hacienda Tejupilco.</p>
              <p>Carretera Tejupilco - Amatepec Km. 12.5 Ex - Hacienda de San Miguel.</p>
              <p>Técnico superior en tecnologías de la información y comunicación área sistemas informáticos</p>
              <p>18 de noviembre 2014</p>

              <h2>Experencia</h2>
              <p>Servicio social en soporte técnico, Supervisión escolar no. A037/12 educación para los adultos.	 </p>
              <p>Manteamiento preventivo y correctivo a equipos de oficina y llenado de la base de datos de calificaciones de los alumnos que tenía bajo cargo la supervisión.</p>
            <h1>Lenguas de programacion</h1>
              <ul>
                <li> Java </li>
                <li> PHP PDO </li>
                <li> Introduccion angular</li>
                <li> Praticas de hacker rank</li>
              </ul>
              <h2>Certificaciones</h2>
              <ul >
                <li> CCNA Exploration: Network Fundamentals,  May 29, 2013</li>
                <li>   Examen tipo TOEFL 350 puntos 19   de mayo 201</li>
                <li>    Certificación de Microsoft Junio 2011</li>
             </ul>

   </div>
</div>
