<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
  <div class="ae-container-fluid rk-topbar">
    <h5 class="rk-logo"> Ing. Ciro Lopez Martinez </h5>

        <ul class="rk-menu">
          <li routerLinkActive="active"  class="rk-menu__item">
            <a routerLink="home" class=" button button1 ">Home</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class=" button button1 rk-menu__link">Projects</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class=" button button1 rk-menu__link">About</a>
          </li>
        </ul>
</div>
  </header>
